fastapi
uvicorn
pydantic

supabase
asyncpg

langchain
langgraph
langchain-anthropic
langchain-text-splitters

openai
anthropic

python-dotenv
httpx

pydantic-settings

pytest
pytest-mock
pytest-asyncio

python-multipart

"mcp[cli]"